body{
	background:;
}

*{
	margin:0px auto;
	padding:0px auto;
	font-family:arial;
}

.header{
	background: url(image/slider.jpg) center center no-repeat;
	background-size:cover;
	height:500px;
	position:relative;
	width:100%;
	margin-top:20px;

}

.menu_div{
	background: rgba(0, 0, 0, 0.5);
	height:80px;
	margin-top:20px;
	position:absolute;
	width:100%;
}

.menu_div_pages{
	background: #222222;
	height:80px;
	width:100%;
}


.site_name{
	float:left;
	width:50%
}

.site_name h1{
	color:#fff;
	text-align:right;
	padding:15px 450px 10px 10px;
	font-family:sans-serif;
}

.menu{
	width:50%;
	float:left;
	
}

.menu ul{
	text-align:left;
	padding:30px 0px;
}

.menu ul li{
	list-style:none;
	display:inline;

}

.menu ul li a{
	text-decoration:none;
	font-size:14px;
	padding:22px 22px 29px 22px;
	color:#fff;
}

.menu ul li a:hover{
	border-bottom:3px solid #1ff;
	color:#1ff;
}

.active{
	border-bottom:3px solid #fff;
	color:#fff;
}

.header_instrument{
	top: 40%;
	font-size: 18px;
	color: #fff;
	text-shadow: 1px 1px 3px #666666;
	position:absolute;
	width:100%;
	text-align:center;
}

.header_instrument h1{
	margin:30px;
	font:arial;
}

.header_instrument a{
	background:#4ab873;
	color: #fff;
	width: 180px;
	height: 53px;
	line-height: 53px;
	padding: 0;
	display:block;
	text-shadow:none;
	margin-top:20px;
	border-radius:5px;
	text-decoration:none;
	font-size:18px;
	font-weight:bold;
	font:arial;
}

.header_instrument a:hover{
	background:#fff;
	color: #4ab873;
}

.content_up{
	height:350px;
	width:100%;
	background:#4AB873;
	font-size: 18px;
	color: #fff;
	text-shadow: 1px 1px 3px #666666;
	text-align:center;
}

.content_up h1{
	margin-bottom:30px;
	padding-top:60px;
	font-family:arial;
}

.content_up p a{
	background:#4ab873;
	color: #fff;
	width: 180px;
	height: 53px;
	line-height: 53px;
	padding: 0;
	display:block;
	text-shadow:none;
	margin:20px;
	border-radius:5px;
	text-decoration:none;
	font-size:18px;
	font-weight:bold;
	font:arial;
	display:inline-block;
	border:2px solid #fff;
}

.content_up p a:hover{
	background:#fff;
	color: #4ab873;
}

.content_middle{
	height:180px;
	width:100%;
	background: url(image/slider1.jpg) center center no-repeat;
	background-size:cover;
	position:relative;
	text-align:center;
	color: #fff;
	text-shadow: 1px 1px 3px #666666;
	font-family:arial;
	font-size:18px;
}

.content_middle_bottom{
	height:180px;
	width:100%;
	background: url(image/pic1.jpg) center center no-repeat;
	background-size:cover;
	position:relative;
	text-align:center;
	color: #fff;
	text-shadow: 1px 1px 3px #666666;
	font-family:arial;
	font-size:18px;
}


.content_up_haf{
	background: rgba(0, 0, 0, 0.5);
	height:180px;
	width:100%;
}

.content_up_haf h1{
	margin-bottom:20px;
	padding-top:60px;
}

.content_down{
	height:460px;
	width:1100px;
	text-align:center;
	color: #434A4A;
	text-shadow: 1px 1px 3px #666666;
	font-family:arial;
	font-size:18px;
	text-shadow:none;
	padding-top:50px;
}

.content_down_image{
	margin-top:20px;
	border-radius:5%;
}

.content_down p{
	padding-top:20px;
	text-align:justify;
	color:#434A4A;
	font-size:14px;
}


.content_down a, .middle_content_left a, .contact_content_bottom_left a{
	color: #434A4A;
	width: 160px;
	height: 45px;
	line-height: 45px;
	padding: 0;
	display:block;
	text-shadow:none;
	border-radius:5px;
	text-decoration:none;
	font-size:16px;
	font-weight:bold;
	font:arial;
	display:inline-block;
	border:0.5px solid #8F8F8F;
	margin-top:50px;
	text-align:center;
}

.content_down a:hover, .middle_content_left a:hover,
.contact_content_bottom_left a:hover{
	border:1px solid #000;
}

.content_bottom_down{
	height:500px;
	width:1100px;
	text-align:center;
	color: #434A4A;
	font-family:arial;
	font-size:18px;
	text-shadow:none;
	padding-top:50px;
}

.content_bottom_down_left, .content_bottom_down_right{
	width:50%;
	float:left;
	height:100%;
}

.content_bottom_down_left h2, .content_bottom_down_right h2{
	font-size:26px;
	margin-top:30px;
	font:arial;
	text-align:center;
}

.content_bottom_down_left p, .content_bottom_down_right p{
	text-align:center;
	color:#434A4A;
	font-size:12px;
	margin-top:10px;
}

.content_bottom_down_image{
	border:1px solid %41392C;
	margin:30px 0px 30px 0px;
	border-radius:2px;
}

.bottom_div_first{
	height:500px;
	width:1100px;
	color: #A6A8A8;
	font-family:arial;
	font-size:14px;
	text-shadow:none;
	padding-top:50px;
}

.bottom_div_first_one{
	width:29%;
	float:left;
	height:100%;
	padding:2%;
}

.bottom_div_first_one h2{
	color: #434A4A;
}

.bottom_div_first_one h2 img{
	height:22px;
	width:22px;
	padding-right:30px;
}



.bottom_div_first_image{
	margin:20px 20px;
	border-radius:5%;
}

.bottom_div_first_one a{
	color: #434A4A;
	width: 160px;
	height: 45px;
	line-height: 45px;
	padding: 0;
	display:block;
	text-shadow:none;
	border-radius:5px;
	text-decoration:none;
	font-size:16px;
	font-weight:bold;
	font:arial;
	display:inline-block;
	border:0.5px solid #8F8F8F;
	margin-top:50px;
	text-align:center;
}

.bottom_div_first_one a:hover{
	border:1px solid #000;
}

.content_up h4{
	padding:50px 0px;
}

.footer_top{
	height:350px;
	width:100%;
	background:#2A2A2A;
	border-bottom:2px solid #8c8c8c;
}

.footer_top_content{
	height:100%;
	width:1100px;
}

.footer_top_content_div_pic{
	height:90%;
	width:22%;
	margin:6px;
	float:left;
	padding:10px;
	font-size:14px;
	color:#8c8c8c;
}

.footer_top_content_div_pic h1{
	margin:15px 0px;
	text-align:left;
	color:3FFFFFF;
}

.footer_top_content_div_pic h4{
	color:3FFFFFF;
}

.footer_top_content_div_pic h4 a{
	color:4AB873;
	text-decoration:none;
}

.footer_top_content_div_pic h4 a:hover{
	text-decoration:underline;
}

.input_text{
	height:50px;
	width:98%;
	border-radius:5%;
	background:#fff;
}

.bottom{
	background:#4ab873;
	color: #fff;
	width: 180px;
	height: 53px;
	line-height: 53px;
	padding: 0;
	display:block;
	text-shadow:none;
	margin-top:20px;
	border-radius:5px;
	text-decoration:none;
	font-size:18px;
	font-weight:bold;
	font:arial;
	text-align:center;
	float:left;
}

.bottom:hover{
	background:#2A2A2A;
	color: #fff;
	border:1px solid #fff;
}

.footer_top_content_div_pic li{
	list-style:none;
	display:inline;
	float: left;
}

.hr{
	height:50px;
	width:100%;
	background:green;
}

.footer_bottom{
	height:50px;
	width:100%;
	background:#2A2A2A;
	text-align:center;
	color:#fff;
	padding-top:10px;
}

.footer_bottom a{
	color:#fff;
	text-decoration:none;
}

.footer_bottom a:hover{
	color:#0f0;
}


.middle_content{
	height:1600px;
	width:1140px;
	margin-top:50px;
	font-family:Consolas;
}

.middle_content_left{
	height:100%;
	width:400px;
	float:left;
	margin-left:20px;
}

.middle_content_left h2, .middle_content_right h2,
.middle_content_right h4,{
	color:#434A4A;
	padding:30px 0px;
}

 .middle_content_right h6{
	color:#434A4A;
 }

.middle_content_right h1, .content_middle h1{
	color:#434A4A;
	padding:15px 0px;
}


p{
	color:#A6A8A8;
	padding:10px 0px;
	font-size:14px;
}

.middle_content_left ul{
	color:#4AB873;
	padding:10px 0px  10px 0px;
	margin-top:20px;
}

.middle_content_left ul li{
	border-bottom:2px solid #4AB873;
	padding:10px 0px;
}

.middle_content_right{
	height:100%;
	width:700px;
	float:left;
	margin-left:20px;
}

.contact_content{
	height:300px;
	width:1140px;
	background:url(image/map.jpg) center center ;
}

.contact_content_bottom{
	height:500px;
	width:1140px;
}

.contact_content_bottom_left{
	float:left;
	height:100%;
	width:700px;
	color:#A6A8A8;
}

.contact_content_bottom h2{
	padding-top:50px;
	color:#434A4A;
}

.contact_content_bottom_right{
	float:left;
	height:100%;
	width:400px;
	margin-left:40px;
}

 .contact_content_bottom_right h4{
	 padding:5px;
	 color:#434A4A;
 }
 
 .name{
	 height:30px;
	 width:300px;
	 border:1px solid #434A4A;
	 border-radius:5px;
	 margin-top:20px;
 }
 
 .email{
	 height:30px;
	 width:300px;
	 border:1px solid #434A4A;
	 border-radius:5px;
	 margin-top:20px;
 }
 
 .subject{
	 height:30px;
	 width:606px;
	 border:1px solid #434A4A;
	 border-radius:5px;
	 margin-top:20px;
 }
 
 .massage{
	 height:100px;
	 width:606px;
	 border:1px solid #434A4A;
	 border-radius:5px;
	 margin-top:20px;
 }
 
 .full_div_one{
	height:220px;
	width:1140px;
 }
  
 .full_div_two{
	height:360px;
	width:1140px;
	margin-top:50px;
 }
 
 .full_div_two_left{
	height:100%;
	width:48%;
	float:left;
	margin-left:10px;
 }
 
 .full_div_image{
	 width:545px;
	 height:280px;
 }
 
 .full_div_three{
	height:160px;
	width:1140px;
	margin-top:30px;
 }
 
.full_div_four{
	height:160px;
	width:1140px;
	margin-top:30px;
}

.full_div_four_left{
	height:100%;
	width:48%;
	float:left;
	padding-left:10px;
}
